{% extends "global/base.html" %}
{% load bootstrap_icons %}
{% load static %}

{% block content %}
    <header class="header">
        <div class="menu">
            <i>{% bs_icon 'list' %}</i>
            <a id="logo" href="#">
                <img id="logo-image"
                     src="{% static "media/pictures/new-logo.svg" %}"
                     alt="Logo Storage">
                <h1>Warehouse</h1>
            </a>
        </div>
        <div class="search-bar">
            <span><i>{% bs_icon 'search' %}</i></span>
            <input type="search" id="search" placeholder="Search">
        </div>
        <a href="#">{% bs_icon 'person-circle' %}</a>
    </header>
    <main>
        <div class="responsive-table">
            <caption class="table-caption">
                Items
            </caption>

            <thead>
                <tr class="table-row-header">
                    <th class="table-header">ID</th>
                    <th class="table-header">Description</th>
                    <th class="table-header">Is Available</th>
                    <th class="table-header">Owner</th>
                </tr>
            </thead>

            <tbody>
                {% for item in items %}
                    <tr class="table-row">
                        <td class="table-cel">
                            <a href="#" class="tablelink">{{ item.item_id }}</a>
                        </td>
                        <td class="table-cel">
                            <a href="#" class="tablelink">{{ item.description }}</a>
                        </td>
                        <td class="table-cel">
                            <a href="#" class="tablelink">{{ item.is_available }}</a>
                        </td>
                        <td class="table-cel">
                            <a href="#" class="tablelink">{{ item.owner }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </div>
    </main>
{% endblock content %}
