{% extends "global/base.html" %}
{% load bootstrap_icons %}
{% load static %}

{% block content %}
    <main class="main-container">
        {% include "global/partials/messages.html" %}

        {% if page_obj %}

            <h3 class="table-caption">Items</h3>

            <div class="items-table">

                <div class="table-header">{% include "global/partials/search_bar.html" %}</div>

                <div class="internal-table">
                    <div class="thead">
                        <p class="table-head">ID</p>
                        <p class="table-head">Object</p>
                        <p class="table-head">Owner</p>
                        <p class="table-head">Availability</p>
                        <p class="table-head">Transaction</p>
                    </div>

                    <div class="tbody">

                        {% for item in page_obj %}

                            <div class="table-row">

                                <a class="table-link" href="{% url "items:item" item.item_id %}">{{ item.item_id }}</a>

                                <a class="table-link">{{ item.object }}</a>

                                {% if item.owner %}
                                    <a class="table-link"
                                       href="{% url "items:user_profile" item.owner.id %}">{{ item.owner.id }}</a>
                                {% else %}

                                    <a class="table-link">None</a>

                                {% endif %}

                                <a class="table-link">
                                    <span class="dot
                                                 {% if item.is_available %}
                                                     dot-green
                                                 {% else %}
                                                     dot-red
                                                 {% endif %}"></span>
                                    {% if item.is_available %}
                                        Available
                                    {% else %}
                                        Unavailable
                                    {% endif %}
                                </a>

                                {% if item.owner %}

                                    {% if item.is_available and item.owner != request.user %}

                                        <a class="table-link">
                                            <form action="{% url "items:transaction" item.item_id %}" method="POST">
                                                {% csrf_token %}
                                                <button title="Borrow Item from Owner" type="submit" class="transaction-btn">
                                                    {% bs_icon 'arrow-down' %}
                                                </button>
                                            </form>
                                        </a>

                                    {% endif %}

                                    {% if not item.is_available and item.current_user == request.user %}

                                        <a class="table-link">
                                            <form action="{% url "items:transaction" item.item_id %}" method="POST">
                                                {% csrf_token %}
                                                <button title="Return Item to Owner" type="submit" class="transaction-btn">
                                                    {% bs_icon 'arrow-up' %}
                                                </button>
                                            </form>
                                        </a>

                                    {% endif %}

                                {% endif %}
                            </div>

                        {% endfor %}

                    </div>
                </div>

                {% if page_obj.paginator.num_pages > 1 %}
                    {% include "global/partials/pagination.html" %}
                {% endif %}

            </div>
        </main>

    {% else %}

        <div class="single-item-table-margin">
            <div class="responsive-table">

                <div class="single-item-table">
                    <div class="single-item">
                        <h1 class="single-item-name">• Item não encontrado</h1>
                    </div>
                </div>
            </div>

        {% endif %}
    </div>

{% endblock content %}
