{% extends "global/base.html" %}
{% load bootstrap_icons %}
{% load static %}

{% block content %}
    <header class="header">

        <div class="menu">

            <i id="bs_icon">{% bs_icon 'list' %}</i>

            <a id="logo" href="#">
                <img id="logo-image"
                     src="{% static "media/pictures/new-logo.svg" %}"
                     alt="Logo Storage">

                <h1>Warehouse</h1>
            </a>
        </div>

        <a href="#">{% bs_icon 'person-circle' %}</a>
    </header>

    <main>
        <div class="responsive-table">

            <div class="table-">
                <h3 class="table-caption">Items</h3>
                <div class="search-bar">
                    <span><i>{% bs_icon 'search' %}</i></span>
                    <input type="search" id="search" placeholder="Search">
                </div>
            </div>

            <div class="internal-table">
                <div class="thead">
                    <p class="table-head">ID</p>
                    <p class="table-head">Object</p>
                    <p class="table-head">Owner</p>
                    <p class="table-head">Disponibility</p>
                    <p class="table-head">Description</p>
                </div>

                <div class="tbody">
                    {% for item in items %}
                        <div class="table-row">
                            <p class="table-cel">
                                <a href="#" class="table-link">{{ item.item_id }}</a>
                            </p>
                            <p class="table-cel">
                                <a href="#" class="table-link">{{ item.name }}</a>
                            </p>
                            <p class="table-cel">
                                <a href="#" class="table-link">{{ item.owner_id }}</a>
                            </p>
                            <p class="table-cel">
                                <a href="#" class="table-link">{{ item.is_available }}</a>
                            </p>
                            <p class="table-cel">
                                <a href="#" class="table-link">{{ item.description }}</a>
                            </p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
{% endblock content %}
