{% extends "global/base.html" %}
{% block content %}

    <main class="main-container">

        {% include "global/partials/messages.html" %}

        <div class="single-item-table">

            <h1 class="title">• {{ item.item_id }} – {{ item.object }}</h1>

            {% if item.description %}
                <b class="data-name">Description: </b>
                <p class="single-item-details">{{ item.description }}</p>
            {% endif %}

            <b class="data-name">ID: </b>
            <p class="single-item-details">{{ item.item_id }}</p>

            <b class="data-name">Quantity: </b>
            <p class="single-item-details">{{ item.quantity }}</p>

            <b class="data-name">Storage location: </b>
            <p class="single-item-details">{{ item.storage_location }}</p>

            <b class="data-name">Disponibility: </b>
            <p class="single-item-details">{{ item.is_available }}</p>

            <b class="data-name">Created Date: </b>
            <p class="single-item-details">{{ item.created_date }}</p>

            <b class="data-name">Owner ID: </b>
            <p class="single-item-details">{{ item.owner_id }}</p>

            {% if item.current_user %}
                <b>Current Holder ID: </b>
                <p class="single-item-details">{{ item.current_user.id }}</p>
            {% endif %}

            {% if user == item.owner %}
                <div class="buttons">

                    <a type="button"
                       class="btn"
                       href="{% url "items:update" item.item_id %}">Update</a>

                    <form action="{% url "items:delete" item.item_id %}" method="POST">
                        {% csrf_token %}

                        {% if confirmation == "no" %}
                            <input type="hidden" name="confirmation" value="yes">
                            <button type="submit" class="btn">Are you Sure?</button>

                        {% else %}
                            <button type="submit" class="btn">Delete</button>
                        {% endif %}
                    </form>
                </div>
            {% endif %}

        </div>
    </main>
{% endblock content %}
