{% extends "global/base.html" %}
{% block content %}

    {% include "global/partials/header.html" %}

    <div class="single-item-table-margin">
        <div class="responsive-table">

            <div class="single-item-table">
                <div class="single-item">
                    <h1 class="single-item-name">• {{ item.item_id }} – {{ item.object }}</h1>
                    <div class="description">
                        <p>
                            <b>Description: </b> {{ item.description }}
                        </p>
                    </div>

                </div>

                <div class="single-item-info">
                    <p class="single-item-details">
                        <b>ID: </b>{{ item.item_id }}
                    </p>
                    <p class="single-item-details">
                        <b>Quantity: </b>{{ item.quantity }}
                    </p>
                    <p class="single-item-details">
                        <b>Storage location: </b>{{ item.storage_location }}
                    </p>
                    <p class="single-item-details">
                        <b>Disponibility: </b>{{ item.is_available }}
                    </p>
                    <p class="single-item-details">
                        <b>Created Date: </b>{{ item.created_date }}
                    </p>
                    <p class="single-item-details">
                        <b>Owner: </b>{{ item.owner_id }}
                    </p>
                </div>
            </div>
        </div>
    </div>

    {% include "global/partials/footer.html" %}
{% endblock content %}
