{% extends "global/base.html" %}

{% block content %}
    <div class="login-form">
        {% if user.is_authenticated %}
            <h2 class="title">Logout</h2>

            <p class="logout-text">
                You are logged as {{ user.username }}.
                Click <a href="{% url "items:logout" %}">here</a>
                to exit.
            </p>
        {% else %}

            <h2 class="title">Login</h2>

            {% include "storage/partials/user_form.html" %}

            <button class="btn" type"submit">Login</button>

            <div class="sign-up-container">
                <p>If this is your first time here! Click here to</p>
                <a type="button" href="{% url "items:register" %}">Sign Up.</a>
            </div>

        {% endif %}
    </div>
{% endblock content %}
