{% extends "global/base.html" %}
{% load static %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="login-form">
            <h2 class="title">Logout</h2>

            <p class="logout-text">
                You are logged as {{ user.username }}.
                Click <a href="{% url "items:logout" %}">here</a>
                to exit.
            </p>
        </div>
    {% else %}
        <div class="register-container">

            <a id="table-ilustration">
                <img id="logo-ilustration"
                     src="{% static "media\pictures\logo-gray.svg" %}"
                     alt="Logo Storage">

                <h1>Warehouse</h1>
            </a>
            <h2 class="title">Register</h2>

            {% include "storage/partials/user_form.html" %}
            <button class="btn" type"submit">Create</button>

            <div class="sign-up-container">
                <p>Already has an account! Click here to</p>
                <a type="button" href="{% url "items:login" %}">Log in.</a>
            </div>
        </div>
    </div>
{% endif %}
{% endblock content %}
