{% extends "global/base.html" %}
{% load bootstrap_icons %}
{% load static %}

{% block content %}
    {% if page_obj %}
        <main class="main-container">
            <h3 class="table-caption">Transactions</h3>

            <div class="transaction-table">
                <div class="table-header">{% include "global/partials/search_bar.html" %}</div>

                {% include "storage/partials/transaction_table.html" %}
            </div>

        </main>
    {% else %}
        <div class="main-container">
            <h3 class="table-caption">Transactions</h3>

            <div class="transaction-table">
                <div class="table-header">{% include "global/partials/search_bar.html" %}</div>
            </div>

            <div class="single-item">
                <h1 class="single-item-name">• Item não encontrado</h1>
            </div>
        </div>
    </div>
{% endif %}

{% endblock content %}
