{% extends "global/base.html" %}
{% load static %}

{% block content %}

    <div class="main-container">

        {% include "global/partials/messages.html" %}

        {% if user.is_authenticated %}
            <div class="register-container">

                <a id="table-ilustration">
                    <img id="logo-ilustration"
                         src="{% static "media\pictures\logo-gray.svg" %}"
                         alt="Logo Storage">

                    <h1>Warehouse</h1>
                </a>
                <h2 class="title">Update User</h2>

                {% include "storage/partials/user_form.html" %}
                <button class="btn" type"submit">Update</button>
            </div>

        {% else %}

            <h2 class="title">Login or Register</h2>

            <p class="logout-text">
                You ure currently not logged in.
                Click <a href="{% url "items:login" %}">here</a>
                to login.
            </p>
        {% endif %}
    </div>
{% endblock content %}
