{% load bootstrap_icons %}
{% load static %}

<header class="header">

    <a id="logo">
        <img id="logo-image"
             src="{% static "media/pictures/logo-white.svg" %}"
             alt="Logo Storage">

        <h1>Warehouse</h1>
    </a>

    {% if user.is_authenticated %}
        <div class="account-info">
            <a href="{% url "items:user_profile" user.id %}">Profile {% bs_icon 'person-circle' %}</a>
        </div>
    {% else %}
        <div class="account-info">
            <a href="{% url "items:register" %}">Sign Up {% bs_icon 'person-circle' %}</a>
        </div>
    {% endif %}
</header>
