/* definição de cores */

:root {
    --color-white: #fff;
    --color-gray1: #1C1C1C;
    --color-gray2: #363636;
    --color-gray3: #4F4F4F;
    --color-gray4: #808080;
    --color-blue: #2046e1;
    --white-gray: #f6f6f6;
    --error-color: rgb(255, 0, 0);
    --shadow: 1px 1px 4px var(--color-gray1);
    --border-radius: 0.5rem;
}

/* configurações globais */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

a {
    color: var(--color-white)
}

body {
    background-color: var(--color-gray2);
    font-family: Arial, Helvetica, sans-serif;
}

.main-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/* header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 35px;
    box-shadow: 1px 1px 4px var(--color-gray1);
    background-color: var(--color-gray4);
    padding: 20px;
    font-family: 'Lexend';
}

.menu {
    display: flex;
}

#logo{
    display: flex;
    flex-direction: row;
}

#logo-image {
    width: 40px;
    height: auto;
    margin-right: 8px;
}

.bi-person-circle {
    height: 35px;
    width: auto;
}

/* global table */

.responsive-table {
    max-width: 85%;
    margin: 35px auto;
    padding: 1rem 1rem 1rem;
    background-color: var(--color-gray4);
    color: var(--color-white);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* responsive table header  */

.table-caption {
    font-size: 50px;
    font-weight: bold;
    color: var(--white-gray);
    text-shadow: var(--shadow);
    text-align: center;
}

.table-inputs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0.5rem auto;
}

.link-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-gray2);
    padding: 0.5rem;
    border-radius: var(--border-radius);
    transition: 0.2s ease;
}

.bi-plus-large {
    font-weight: bold;
    color: var(--color-gray2);
}

.link-btn:hover{
    background-color: var(--color-gray3);
}

.search-bar {
    display: flex;
    justify-content: flex-start;
    padding: 0.5rem;
    border-radius: var(--border-radius);
    background-color: var(--color-gray2);
    width: 30%;
}
.bi-search {
    height: 20px;
    width: auto;
    margin-right: 15px;
}

#search,
#search:focus {
    font-size: 20px;
    outline: none;
    border: none;
    background: var(--color-gray2);
    color: var(--white-gray);
    width: 100%;
    outline: none;
    background-color: var(--color-gray2);
}

#search::-webkit-search-cancel-button {
        -webkit-appearance: none;
    }

/* messages */

.message {
    display: flex;
    max-width: 600px;
    padding: 0 2rem 0 2rem;
    height: 60px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    border-radius: var(--border-radius);
    font-weight: bold;
    color: var(--white-gray);
}

.message.success {
    background: rgb(52, 118, 52);
}
.message.error {
    background: rgb(197, 59, 59);
}
.message.warning {
    background: rgb(206, 192, 89);
}

/* in-table-info */

.internal-table {
    display: flex;
    flex-direction: column;
   
}

.thead {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    background-color: var(--color-gray2);
    border-radius: var(--border-radius);
    font-weight: bold;
    margin: 1rem 0 0.5rem 0;
    font-size: 20px;
    width: 100%;
}

.table-head {
    flex: 1;
    flex-direction: row;
    text-align: left;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
    padding: 0.5rem 5rem 0.5rem 3rem;
    width: 100%;
}

.table-row {
    display: flex;
    flex-direction: row;
    text-align: left;
    font-size: 20px;
}

.table-row:nth-child(odd) {
    background-color: var(--color-gray3);
    border-radius: var(--border-radius);
}

.table-cel{
    flex: 1;
    flex-direction: column;
    text-align: left;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
    padding: 0.5rem 5rem 0.5rem 3rem;
    width: 100%;
}

.table-cel:nth-child(1),
.table-head:nth-child(1) {
    width: 50px;
    padding: 0.5rem 2rem 0.5rem 3rem;
}

.table-cel:nth-child(1):hover,
.table-cel:nth-child(3):hover{
    text-decoration: underline;
    text-overflow: clip;
}

/* single-item */

.single-item-table {
    text-align: left;
    margin: 1rem 0 1rem 3rem;
}

.single-item-table-margin {
    margin: 2rem 0 730px 0
}

.description {
    white-space: normal;
    margin: 0.5rem 0 0 1.5rem;
    width: 80%;
    height: auto;
    overflow-wrap: break-word;
}

.single-item-info {
    margin: 2rem 0 0 1.5rem;
}

.single-item-details {
    margin: 0.5rem;
}

.buttons {
    display: flex;
    flex-direction: row;
    margin: 2rem 0 0 1.5rem;
    justify-content: left;
    gap: 2rem;
}

#update-button,
#delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-gray3);
    color: var(--white-gray);
    border: none;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    min-height: 45px;
    min-width: 100px;
    font-weight: bold;

}

#update-button:hover,
#delete-button:hover {
    cursor: pointer;
    transition: 0.5;
}

#update-button:active,
#delete-button:active {
    transform: scale(0.97);
}

/* Create Item Page */

.form {
    display: flex;
    flex-direction: column;
    align-self: center;
    border-radius: var(--border-radius);
    background-color: var(--color-gray4);
    box-shadow: var(--shadow);
    margin: 35px 30%;
    padding: 1rem;
    max-width: 800px;
    min-width: 700px;
}

.form-name {
    display: flex;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    margin: 1rem auto 3rem;
    font-weight: bold;
    color: var(--white-gray);
}

.form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group input[type=text],
.form-group input[type=number],
.form-group input[type=email],
.form-group input[type=password],
.form-group select,
.form-group textarea {
    min-width: 450px;
    max-width: 800px; 
    height: 40px;
    display: inline-block;
    border: 1px solid var(--color-gray1);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    margin: 0.5rem auto
}

.form-group textarea {
    max-width: 100%;
    min-height: 80px;
}

.form-group input[type=text]:hover,
.form-group input[type=number]:hover,
.form-group input[type=email]:hover,
.form-group input[type=password]:hover,
.form-group select:hover,
.form-group textarea:hover {
    border: 3px solid var(--color-gray1);
}

.form-group label {
    color: var(--white-gray);
    font-weight: bold;
}

.field {
    margin: 0 0 1rem 0;
}

.field-help-text {
    color: var(--color-gray1);
    font-size: 15px;
    margin-bottom: 1rem;
}

.field-error li {
    max-width: 450px;
    border-color: 1px var(--white-gray);
    color: var(--error-color);
    font-size: 18px;
    margin: 0.5rem auto;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    background-color: var(--color-gray3);
    color: var(--white-gray);
    border: none;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    min-height: 45px;
    min-width: 100px;
    font-weight: bold;
    margin: 1.5rem auto 2rem 7rem;

}

.secondary {
    margin: 1.5rem 2rem 2rem 0rem;
}

.btn-options {
    display: flex;
    justify-content: flex-end;
    align-items:flex-end;
    flex-direction: row;
}

.side-to-side-btn {
    display: flex;
    flex-direction: row;
}

.btn:hover {
    cursor: pointer;
    transition: 0.5;
}

.btn:active {
    transform: scale(0.97);
}

/* users form */

.logout-text {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.logout-text a {
    margin: 0 5px 0 5px
}

.logout-text a:hover{
    text-decoration: underline;
}
/* footer */

.footer {
    background-color: var(--color-gray4);
    display: flex;
    flex-direction: column;
    bottom: 0;
    height: 200px;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.footer-caption {
    margin: 1rem 0 0 25px;
}

.pagination {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  padding: 1rem 0 0 0;
  font-size: 20px;
}

.pagination .step-links {
  display: flex;
  gap: 1.5rem;
}

.pagination .step-links a {
  color: var(--white-gray);
  transition: color var(--color-gray4) ease-in-out;
  display: block;
}

.pagination .step-links a:hover{
    text-decoration: underline;
    color: var(--color-gray2);
    transition: 0.2s;
}